/*
Theme Name: The Sugar Loaf Barn Theme
Description:  The Sugar Loaf Barn custom theme
Version: 1.0
Author: Ross Matthews
*/

html, body {
    height: 100%;
}

h1,h2,h3,h3,h4,h5,h6 {
    font-size: 20px;
    font-weight: bold;
    text-shadow: 0px 2px 0px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=1);
}

a {
    text-decoration: underline;
    color: #FFF;
}
.heading-text {
    margin-bottom: 15px;
    text-transform: uppercase;
}

body {
    background: url('images/broken-noise-pattern.jpg') repeat scroll 0 0 transparent;
    color: #FFF;
    font-family: Palatino, 'Palatino Linotype', Georgia, times, serif;    
    font-size: 14px;
    line-height: 18px;

}

.wrapper {
    width: 940px;
    margin: 0 auto;
    min-height: 100%;
    padding: 0 10px;
    position: relative;
}

.main {
    padding-bottom: 100px;
}
.page-body {
    
}

.slide-container + .content {
    margin-top: 20px;
}

    
/* Editor styles */

.content {
    padding: 18px 0 0 0;
}

    .content h1,
    .content h2,
    .content h3,
    .content h4,
    .content h5,
    .content h6 {
        margin-bottom: 15px;
    }
    
    .content p { 
        line-height: 20px;
        margin-bottom: 15px; 
        
    }

    .content img {
        border: 6px solid rgba(10, 10, 10, 0.8);
        margin: 0;
    }
    
        .content img.alignright {
            float: right;
            margin: 0 0 10px 15px;
        }

        .content img.alignleft {
            float: left;
            margin: 0 15px 10px 0;
        }
        
    .content em {
        font-style: italic;
    }
    
    .content strong {
        font-weight: bold;
    }
    
    .content ul, .content ol {
        margin-bottom: 15px;
        margin-left: 30px;
    }
    
    .content ul {
        list-style: disc outside none;
        margin-bottom: 15px;
        margin-left: 30px;
    }
    
    .content ol {
        list-style: decimal outside none;
        margin-bottom: 15px;
        margin-left: 30px;
    }
    
    .content blockquote {
        margin: 0 30px 15px 30px;
    }
    
    .content .redText {
        color: #F76767;
    }
    
    .content .greyText {
        color: #CFCFCF;
    }

.leftCol {
    display: block;
    float: left;
    height: 100%;    
    margin-right: 20px;
    width: 141px;    
}

.leftCol + .mainCol {
    float: right;
    width: 779px;
}

.mainCol.sidebar {
    float: left;
    margin-right: 20px;
    width: 700px;
}
    
/* Body widget area */ 

.body-widget-area {
    margin: 0 0 30px 0;
}

    .body-widget-area .body-widget{
        display: block;
        float: left;
        margin: 0 20px 0 0;
        padding: 0 10px;
        width: 280px;     
    }
    
    .body-widget-area .body-widget:last-child{
        margin: 0;
    }    
    
    .body-widget-area .body-widget h2 {
        font-size: 20px;
        font-weight: bold;
        text-shadow: 0px 2px 0px #000000;
        filter: dropshadow(color=#000000, offx=0, offy=1);     
    }
    
     .body-widget-area .body-widget img {
        border: 5px solid #121212;
        margin: 15px 0 15px 0;
    }
    
    .body-widget-area .body-widget p {
        margin-bottom: 15px;
    }
 
/* Aggregation Results */

.aggregation-area h4 {
    font-size: 14px;
    margin-bottom: 5px;
}

.fullAggregation.aggregationResults {
    border-top: 1px solid rgba(0, 0, 0, 0.6);    
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);    
}

    .fullAggregation.aggregationResults h2 {
        font-size: 18px;
        margin-bottom: 0;
    }
    
    .time {
        color: #767676;
        font-size: 13px;
        font-weight: bold;
    }

.aggregationResults {
    padding: 15px 0 30px 0;
}

.aggregationItem {
    margin-bottom: 15px;
    position: relative;
}

.aggregationItem.last {
    margin-bottom: 0px;
}

.aggregationItem .aggregationThumb {
    border: 4px solid #121212;
    float: left;
    margin-right: 13px;
}

.aggregationItem p {
    color: #d3d1d1;
    font-size: 12px;    
}

.aggregationItem .time {
    position: absolute;
    right: 0;
    top: 0;
}

.aggregationResults a {
    text-decoration: none;    
}

/* Breadcrumbs*/

    .breadcrumbs {
        font-weight: bold;
        text-shadow: 0px 2px 0px #000000;
        filter: dropshadow(color=#000000, offx=0, offy=1);          
        text-transform: uppercase;
    }

        .breadcrumbs a {
            color: #cfcfcf;
            text-decoration: none;          
        }

/* Gallery */

.gallery {
    margin: 25px 0 5px 0;
}
    .gallery img {
        border: 5px solid #121212;
        float: left;
        margin: 0 20px 20px 0;
    }

    .gallery a:nth-child(4n) img {
        margin-right: 0;
    } 
    
 /* Map */

.google-map iframe {
    border: 10px solid #121212;
}   
    
/* Buttons */

input[type="submit"].ctaButton, input[type="button"].ctaButton, .ctaButton {
    border: 1px solid #2f2f2f;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    -webkit-box-shadow:  0px 1px 1px 1px rgba(0, 0, 0, 0.5);
    box-shadow:  0px 1px 1px 1px rgba(0, 0, 0, 0.5);            
    color: #000000;
    display: inline-block;
    font-size: 14px;
    font-weight: bold;
    line-height: 29px;
    padding: 0 15px;
    text-decoration: none;
    width: auto;
}

input[type="submit"].ctaButton, input[type="button"].ctaButton {
    font-family: 'Palatino Linotype', Georgia, times, serif;    
    height: 29px;
    padding-bottom: 3px;
}

.silver {
    background: #cdcdcd; /* Old browsers */
    background: -moz-linear-gradient(top,  #cdcdcd 0%, #7d7d7d 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#cdcdcd), color-stop(100%,#7d7d7d)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #cdcdcd 0%,#7d7d7d 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #cdcdcd 0%,#7d7d7d 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #cdcdcd 0%,#7d7d7d 100%); /* IE10+ */
    background: linear-gradient(top,  #cdcdcd 0%,#7d7d7d 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cdcdcd', endColorstr='#7d7d7d',GradientType=0 ); /* IE6-9 */   
}

.silver:hover {
    background: #7d7d7d; /* Old browsers */
    background: -moz-linear-gradient(top,  #7d7d7d 0%, #cdcdcd 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7d7d), color-stop(100%,#cdcdcd)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top,  #7d7d7d 0%,#cdcdcd 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top,  #7d7d7d 0%,#cdcdcd 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top,  #7d7d7d 0%,#cdcdcd 100%); /* IE10+ */
    background: linear-gradient(to bottom,  #7d7d7d 0%,#cdcdcd 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7d7d', endColorstr='#cdcdcd',GradientType=0 ); /* IE6-9 */
}



