/* Basic jQuery Slider essential styles */

ul.bjqs{position:relative; list-style:none;padding:0;margin:0;overflow:hidden; display:none;}
li.bjqs-slide{position:absolute; display:none;}
ul.bjqs-controls{list-style:none;margin:0;padding:0;z-index:9999;}
ul.bjqs-controls.v-centered li a{position:absolute;}
ul.bjqs-controls.v-centered li.bjqs-next a{right:0;}
ul.bjqs-controls.v-centered li.bjqs-prev a{left:0;}
ol.bjqs-markers{list-style: none; padding: 0; margin: 0; width:100%;}
ol.bjqs-markers.h-centered{text-align: center;}
ol.bjqs-markers li{display:inline;}
ol.bjqs-markers li a{display:inline-block;}
p.bjqs-caption{display:block;width:96%;margin:0;padding:2%;position:absolute;bottom:0;}

/* Sugar Loaf Barn custom styles */

        ul.bjqs-controls li a {
            background: url('../images/main-sprite.png') repeat scroll 0 0 transparent;
            cursor: pointer;
            display: block;
            height: 45px;
            width: 45px;
            position: absolute;
            top: 160px;
            text-indent: -9999px;
            z-index: 10;
        }

        ul.bjqs-controls.v-centered li.bjqs-prev a {
            background-position: 0 -60px;
            left: 20px;        
        }

        ul.bjqs-controls.v-centered li.bjqs-next a {
            background-position: 0 -110px;        
            right: 0px;       
        }

ol.bjqs-markers {
    top: 20px;
    display: block;
    position: absolute;        
    right: -720px;
    z-index: 10;    
}

    ol.bjqs-markers li {
        display: inline-block;
        padding: 0 0 0 10px;   
    }

        ol.bjqs-markers li a {
            background: url("../images/main-sprite.png") no-repeat scroll 0 -160px transparent;
            display: block;
            height: 10px;
            text-indent: -9999px;
            width: 10px; 
        }      
        
        ol.bjqs-markers li.active-marker a {
            background: url("../images/main-sprite.png") no-repeat scroll 0 -175px transparent;
        }

