/* 
    Document   : footer.css
    Created on : 15-May-2012, 20:26:19
    Author     : Ross
    Description:
        Purpose of the stylesheet follows.
*/

.page-footer {
    border-top: 1px solid rgba(0, 0, 0, 0.6);    
    box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    -webkit-box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.1);
    bottom: 0;
    display: block;
    font-size: 13px;
    height: 100px;
    margin: 20px 0 0 0;
    position: absolute;
    text-shadow: 0px 2px 0px #000000;
    text-transform: none;
    filter: dropshadow(color=#000000, offx=0, offy=1);    
    text-transform: capitalize;
    width: 940px;
}

    .page-footer p {
        font-weight: bold;        
        margin: 15px 0 25px 0;
        text-align: center;
    }

