/* 
    Document   : form.css
    Created on : 05-Jun-2012, 10:04:32
    Author     : Ross
    Description:
        Purpose of the stylesheet follows.
*/

div.wpcf7 {
    float: left;
    margin-right: 20px;
}

.wpcf7-form {
    margin-top: 20px;
}

.wpcf7-form fieldset {
    margin-top: 20px;
}

.wpcf7-form div {
    margin-bottom: 15px;
}

.wpcf7-form div span.wpcf7-form-control-wrap, 
form.booking_form .wpdev-form-control-wrap {
    background: #121212;
    -webkit-border-radius: 6px;
    border-radius: 6px;        
    -webkit-box-shadow: inset 0px 2px 2px 0px #000000;        
    box-shadow: inset 0px 2px 2px 0px #000000;
    display: block;
    width: 620px;
}

.wpcf7-form span.wpcf7-form-control-wrap input, .wpcf7-form span.wpcf7-form-control-wrap textarea,
form.booking_form .wpdev-form-control-wrap input, form.booking_form .wpdev-form-control-wrap textarea{ 
    background: transparent;
    border: none;
    -webkit-border-radius: 6px;
    border-radius: 6px;        
    -webkit-box-shadow:  0px 1px 1.5px 0px #5a5a5a;
    box-shadow:  0px 1px 1.5px 0px #5a5a5a;
    clear: left;
    color: #FFF;
    display: block;
    font-size: 14px;
    font-family: Palatino, 'Palatino Linotype', Georgia, times, serif;
    line-height: 34px;
    padding: 0 10px;    
    width: 600px;
}

.wpcf7-form span span {
    position: absolute;
    top: 37px;
}

.wpcf7-form span.wpcf7-form-control-wrap input.wpcf7-not-valid {
    border: 1px solid #F76767;
    margin-bottom: 35px;
}

.wpcf7 span.wpcf7-not-valid-tip-no-ajax {
    color: #F76767;
}
.wpcf7-form span.wpcf7-form-control-wrap textarea,
form.booking_form .wpdev-form-control-wrap textarea{ 
    resize: vertical;
}

.wpcf7-form span.wpcf7-form-control-wrap input {
    height: 30px;
}

.wpcf7-form label {
    display: block;
    margin-bottom: 2px;
}

.wpcf7-form br {
    display: none;
}

/* Specific reservation form styles */

.datepick-inline {
    float: right;
}

form.booking_form .datepick-links, form.booking_form .datepick-prev a, form.booking_form .datepick-next a, form.booking_form .datepick-current a {
    color: #FFF;
}

form.booking_form .datepick-header {
    color: #FFF;
    font-size: 13px;
}

.booking_form_div {
    width: 620px;
}

form.booking_form .wpdev-form-control-wrap input,
form.booking_form .wpdev-form-control-wrap textarea{
    padding: 0 10px;
    width: 600px;    
}

form.booking_form .wpdev-form-control-wrap input{
    height: 30px;
}

div form.booking_form .wpdev-form-control-wrap { 
    width: 620px;
} 

div form.booking_form .wpdev-form-control-wrap { 
    padding: 0;
}

div form.booking_form .block_hints {
    width: auto;
    float: right;
}

div form.booking_form .wpdev_clear_hint {
    clear: none;
    display: none;
}

