/* 
    Document   : header.css
    Created on : 15-May-2012, 20:25:22
    Author     : Ross
    Description:
        Purpose of the stylesheet follows.
*/

header {
    margin-bottom: 15px;
}
    
.site-logo {
    background: url('../images/logo.png') repeat scroll 0 0 transparent;
    display: block;
    float: left;
    height: 34px;
    margin: 20px 0 17px 0;
    text-indent: -9999px;
    width: 248px;
}

.sponsor-logo {

}

    .sponsor-logo img {
        border: 3px solid rgba(10, 10, 10, 0.8);
        margin-top: 15px;
        margin-left: 92px;
    }

.contact-info {
    display: block;
    float: right;
    font-weight: bold;
    margin: 24px 0 0 0;
    text-shadow: 0px 2px 0px #000000;
    filter: dropshadow(color=#000000, offx=0, offy=1);
        
}

.social-media-icons {
    display: block;
    float: right;
    margin: 13px 0 0 0;
}

        .social-media-icons ul li{
            background-color: #121212;
            -webkit-border-radius: 50%;
            border-radius: 50%;
            -webkit-box-shadow:  0px 1px 1px 0px #5a5a5a;
            box-shadow:  0px 1px 1px 0px #5a5a5a;        
            display: block;
            float: left;
            height: 35px;
            margin-left: 15px;
            width: 35px;            
        }
        
            .social-media-icons ul li a {
                background: url('../images/main-sprite.png') repeat scroll 0 0 transparent;
                display: block;
                height: 20px;
                padding: 10px 0 0 10px;
                width: 18px;
                text-indent: -9999px;
            }
            
            .social-media-icons ul li.twitter a{
                background-position: 11px 8px;
            }

            .social-media-icons ul li.facebook a{
                background-position: 13px -22px;
            }

            .social-media-icons ul li.pinterest a{
                background-position: 9px -203px;
            }            

