/* 
    Document   : sidebar.css
    Created on : 05-Jun-2012, 11:14:54
    Author     : Ross
    Description:
        Purpose of the stylesheet follows.
*/

.sidebar-col { 
    display: block;
    float: right;
    width: 220px;
}

    .sidebar-col .widget {
        background: url("../images/broken-noise-pattern-light.jpg") repeat scroll 0 0 transparent;
        border: 1px solid #807f7f;
        border-radius: 6px;
        -webkit-border-radius: 6px;
         -webkit-box-shadow:  0px 0px 7px 1px rgba(0, 0, 0, 1);
        box-shadow:  0px 0px 3px 1px rgba(0, 0, 0, 0.7);
        display: block;
        font-size: 12px;
        margin: 0 0 20px 0;
        padding: 10px;
    }
    
        .sidebar-col .widget.news-agg .news-item {
            border-bottom: 1px solid #1b1b1b;
            box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
            padding-top: 7px;
        }
        
        .sidebar-col .widget.news-agg .news-item:last-child {        
            border-bottom: none;
            box-shadow: none;
        }
        .sidebar-col .widget h4 {
            margin-bottom: 12px;
            text-transform: uppercase;
            
        }
        
        .sidebar-col .widget h5 {
            text-shadow: none;
            font-size: 12px;
        }        
        
        .sidebar-col .widget p {
            margin-bottom: 10px;          
        } 
        
        .sidebar-col .widget.news-agg img {
            border: 2px solid rgba(10, 10, 10, 0.6);
            float: left;
            margin: 5px 5px 0 0;
        } 
        
         .sidebar-col .widget.news-agg .time {
            display: block; 
            margin: 1px 0 0 0;
        }        
        

